@mixin productCard() {
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	padding: 10px;
	margin-right: 10px;
	width: 200px;
	min-height: 370px;
	justify-content: flex-start;
}

.productCardContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	p {
		margin: 6px 0;
		padding: 0;
	}
}

.productName {
	text-align: center;
	font-weight: bold;
}

@mixin discount() {
	text-decoration: line-through;
}

.wrap {
	display: flex;
	justify-content: space-evenly;
}

.count {
	margin: 6px;
}

:global(.theme__light) {
	.productCard {
		@include productCard;
		border: 1px solid blue;
	}

	.discount {
		@include discount;
		color: rosybrown;
	}
}

:global(.theme__dark) {
	.productCard {
		@include productCard;
		border: 1px solid white;
	}

	.discount {
		@include discount;
		color: wheat;
	}
}
