.productCard {
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
	border-radius: 15px;
	padding: 10px;
	margin-right: 10px;
	width: 200px;
}

.productCardContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	p {
		margin: 8px;
	}
}

.productName {
	text-align: center;
	font-weight: bold;
}

.discount {
	text-decoration: line-through;
	color: rosybrown;
}

.wrap {
	display: flex;
	justify-content:space-evenly
}