$light: 'light';
$dark: 'dark';
$color-white-100: white;
$color-black-100: black;

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

@mixin pageLayout() {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 500px;
	min-height: 100vh;
	margin: 0 auto;
	background: #fff;
	box-sizing: border-box;
}

:global(.theme__#{$light}) {
	.pageLayout {
		@include pageLayout;
		background: $color-white-100;
		color: $color-black-100;
	}
}

:global(.theme__#{$dark}) {
	.pageLayout {
		@include pageLayout;
		background: darkcyan;
		color: whitesmoke;
	}
}

.pageLayoutHeader {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.pageLayoutNav {
	margin: 10px;
}

.pageLayoutControls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
